@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro:300,400,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, Arial, serif;
  color: #eff2f5;
}

html {
  background-color: #1B263B;
}

body {
  width: 100%;
  max-width: 1450px;
  margin: auto;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}